<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('partials/head.html')%>
</head>
<body>
    <%- include('partials/navbar.html')%>
    <div class="third">
    <div class="container">
        <br>
        <h1>Aplicativo para gestión en bases de datos:</h1>
        <br>
        <%- include('partials/subnavbar.html')%>
        <br>
        <%- include('partials/form.html')%>
        <br>
        <br>
        </div>
    </div>
    <%- include('partials/footer.html')%>
    <%- include('partials/scripts.html')%>
</body>
</html>
