<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('partials/head.html')%>
</head>
<body>
    <%- include('partials/navbar.html')%>
    <div class="container">
        <br>
        
        <div class="p-3 card bg-dark" >
            <img src="/img/landscape-5815173_1280.jpg" class="card-img-top" alt="Imagen de un rayo cayendo en el mar a pocos metros de un faro, donde vuelan gaviotas.">
            <div class="card-body">
                    <p class="card-text text-secondary">Imagen de <a href="https://pixabay.com/es/users/enriquelopezgarre-3764790/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5815173">enriquelopezgarre</a> en <a href="https://pixabay.com/es/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5815173">Pixabay</a></p>
            </div>
            <br>
            </div>
           

        <br>
        <div class="container">
            <div class="row g-2">
              <div class="col-3">
                    <div class="p-3 card bg-dark" >
                    <img src="/img/skating-4687221_1280.png" class="card-img-top" alt="Chica patinando en una bola de nieve">
                    <div class="card-body">
                            <p class="card-text text-secondary">Imagen de <a href="https://pixabay.com/es/users/anastasia_makarevich-4811614/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4687221">Anastasia Makarevich</a> en <a href="https://pixabay.com/es/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4687221">Pixabay</a>
                            </p>
                    </div>
                    </div>
              </div>
              <div class="col-3">
                <div class="p-4 card bg-dark" >
                <img src="/img/smartphone-5830473_1280.png" class="card-img-top" alt="Teléfono inteligente">
                <div class="card-body">
                        <p class="card-text text-secondary">Imagen de <a href="https://pixabay.com/es/users/gdakaska-1113303/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5830473">gdakaska</a> en <a href="https://pixabay.com/es/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5830473">Pixabay</a>
                        </p>
                </div>
                </div>
          </div>
          <div class="col-6">
            <div class="p-3 card bg-dark" >
            <img src="/img/nativity-5755915_1280.png" class="card-img-top" alt="Pesebre de navidad">
            <div class="card-body">
                    <p class="card-text text-secondary">Imagen de <a href="https://pixabay.com/es/users/jeffjacobs1990-7438739/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5755915">Jeff Jacobs</a> en <a href="https://pixabay.com/es/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5755915">Pixabay</a>
                    </p>
            </div>
            </div>
      </div>
              <div class="col-6">
                <div class="p-3 bg-dark text-secondary" style="text-align: center">Diferentes estilos</div>
              </div>
              <div class="col-6">
                <div class="p-3 bg-dark text-secondary" style="text-align: center">Para crear su catálogo</div>
              </div>
            </div>
          </div>
        <br>
        <div id="carouselExampleControls" class="p-3 carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/img/landscape-5815173_1280.jpg" class="d-block w-100" alt="Imagen de un rayo cayendo en el mar a pocos metros de un faro, donde vuelan gaviotas.">
            </div>
            <div class="carousel-item">
              <img src="/img/skating-4687221_1280.png" class="d-block w-100" alt="Chica patinando en una bola de nieve">
            </div>
            <div class="carousel-item">
              <img src="/img/smartphone-5830473_1280.png" class="d-block w-100" alt="Teléfono inteligente">
            </div>
            <div class="carousel-item">
              <img src="/img/nativity-5755915_1280.png" class="d-block w-100" alt="Pesebre de navidad">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </a>
        </div>
    </div>
    <%- include('partials/footer.html')%>
    <%- include('partials/scripts.html')%>
</body>
</html>
