<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('partials/head.html')%>
</head>
<body>
    <%- include('partials/navbar.html')%>
<div class="first" >
    <br>
    <div class="container ">
        <br>
        <h1 style="text-align: center">Node.js</h1>
        <br>
        <p>Si eres desarrollador web o un aficionado de la programación y su impacto para el desarrollo y la 
            innovación de las nuevas tecnologías, es probable que hayas escuchado sobre el lenguaje  JavaScript
            y su importancia a la hora de crear un sitio web.
            <br><br>
            Su uso es visible en la página, pues en general se usa del lado del cliente, es decir que
            sus acciones afectan o crean cambios en elementos visibles para el usuario que visita la página. Algunos ejemplos son textos flotantes,
            formularios, modales, o aplicativos interactivos. Si continúa navegando en este sitio, puede ver algunos de los usos del lenguaje JavaScript. 
        </p>
        <br>
        <p>Pero no nos podemos quedar únicamente del lado del cliente, hay que llegar más lejos
            y aprovechar JavaScript también del lado del servidor; esto es posible gracias a <strong>Node.js</strong>.
        </p>
        <br>
    </div>
</div>

<div class="first">
    <div class="container">
        <br>
        <h2>¿Qué es Node.js?</h2>
        <br>
        <p><strong>Según la definición que podemos encontrar en wikipedia:</strong> 
            Node.js es un entorno en tiempo de ejecución multiplataforma, de código abierto, 
            para la capa del servidor (pero no limitándose a ello) basado en el lenguaje de programación 
            JavaScript, asíncrono, con E/S de datos en una arquitectura orientada a eventos y basado en el 
            motor V8 de Google. Fue creado con el enfoque de ser útil en la creación de programas de red 
            altamente escalables, como por ejemplo, servidores web. Fue creado por Ryan Dahl en 2009 y su 
            evolución está apadrinada por la empresa Joyent, que además tiene contratado a Dahl en plantilla.
            ​</p>

        <p>
            Esto es especialmente útil cuando estás empezando a programar y no conoces muy bien lenguajes como
            php (que se usa regularmente del lado del servidor, para gestionar procesos que el usuario no observa), 
            porque Node.js permite una forma común para programar en ambos lados (del cliente y del servidor) mediante
            el lenguaje JavaScript.
            <br><br>
            Incluso si eres veterano en el desarrollo web, puedes optar por usar Node.js en tus proyectos junto a php y mysql, y de esta forma 
            complementar el contenido de su página, simplificando procesos y potencializando la creatividad en su sitio.
        </p>
        <br>
    </div>
    <br>
</div>
<%- include('partials/footer.html')%>
    <%- include('partials/scripts.html')%>
</body>
</html>
