<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('partials/head.html')%>
</head>
<body>
    <%- include('partials/navbar.html')%>
    <div class="container">
        <br>
        <h1>Podemos agregar contenido interactivo en nuestra página:</h1>
        <br>
        <iframe width="795" height="690" frameborder="0" src="https://es.educaplay.com/juego/7979227-node_js.html"></iframe>
        <p>Contenido creado en educaplay</p>
        <br>
        <iframe width="795" class="border" height="690" frameborder="0" src="https://www.geogebra.org/m/kqjmfw65"></iframe>
        <p>Contenido creado en geogebra</p>
        <br>
    </div>
    <%- include('partials/footer.html')%>
    <%- include('partials/scripts.html')%>
</body>
</html>
