<footer class="bg-dark text-center text-lg-start">
    <div class="container p-4 text-secondary">
      <div class="row">
        <h4 style="text-align:center">Esta página es posible gracias a:</h4>
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <br>
          <h5 class="text-uppercase"><a href="https://nodejs.org/es/">Node.js</a></h5>
          
          <p>
            Es un entorno de ejecución para JavaScript construido con el motor de JavaScript V8 de Chrome.
          </p>
        </div>
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <br>
          <h5 class="text-uppercase"><a href="https://getbootstrap.com/">Bootstrap</a></h5>
  
          <p>
            Cree sitios rápidos y receptivos con Bootstrap.
          </p>
        </div>
      </div>
    </div>
    <div class="text-center p-3 text-light" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2020 Copyright JCPB
    </div>
  </footer>